* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
}

.top {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: clamp(10px, 6vw, 90px);
  top: 0;
  background-color: #ffffff;
}
.top > #left {
  background: linear-gradient(90deg, #497e55, #164721);
  font-size: clamp(10px, 1.8vw, 25px);
  color: #fff;
  padding: 0.5vw 0 0 2vw;
}
#left,
#right {
  width: 50%;
}

ul,
li a {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
  font-size: clamp(10px, 1.9vw, 25px);
  font-weight: 700;
  color: #135622;
  text-decoration: none;
  margin-top: 0.3rem;
}
#Donate a,
nav > ul > li > a {
  padding: 0.6vw 1.2vw;
  border-radius: 1.3rem;
}
#Donate a {
  border: 1px solid #1cc54160;
  background: linear-gradient(120deg, #56a066 0%, #1d8534 90%, #1d8534 100%);
  color: #efd80d;
}
#Donate a:hover,
nav > ul > li > a:hover {
  cursor: pointer;
  background: linear-gradient(#ffe386, #d39000);
  color: #000000;
  border: 1px solid #efd80d;
}

.home {
  background-image: url("Picsart_24-08-05_15-17-25-955.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 55vw;
  margin: 0;
  margin-top: clamp(50px, 3em, 90px);
  font-size: clamp(10px, 2vw, 33px);
  color: #fffcf4;
}
.home > h2 {
  padding-top: 4vw;
  color: #fff;
}
.home > p > a {
  color: #99ffa9;
}
.home > p > a:hover {
  cursor: pointer;
  color: #57aeff;
}
.home h2,
.home p {
  width: 50%;
  margin: 2vw 3vw;
}
h2 {
  font-size: clamp(10px, 3vw, 50px);
}
h3 {
  font-size: clamp(1.1em, 1.5vw, 30px);
}

.previous-work {
  font-size: clamp(1.1rem, 1.5vw, 37px);
  margin: 3vw;
  color: #1d8534;
}
.previous-work > #work1 {
  margin-top: 2vw;
  margin-left: -1vw;
  display: flex;
}
#work1 img {
  width: clamp(70vw, 40vw, 100px);
  height: 13em;
  object-fit: cover;
}
#work1 p,
#work1 h3 {
  padding: 2% 20% 0 2%;
  color: #186629;
}
#work1 p {
  color: #000000;
}
p > span {
  color: #006ed3;
}
#moreinfo img {
  width: 90%;
  margin: 1em 1em;
}
#moreinfo {
  color: #000000;
}

#moreinfo h3 {
  color: #1d8534;
}
#close {
  color: rgb(160, 0, 0);
  background: none;
  border: none;
  margin: 0 90%;
}
.hidden {
  width: 80%;
  margin: 1em 10%;
  padding: 2em;
  padding-top: 0;
  background-color: #fff;
  position: fixed;
  top: 3px;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 99vh;
  z-index: 10;
}

.blur {
  filter: blur(5px);
}

#overview {
  width: 85%;
  margin: 0 auto;
  margin-top: 6vw;
  border-radius: 25px;
  font-size: 0.8em;
  padding: 5px;
  background-color: #e0e0e0;
  color: #000000d5;
  padding: 1.5vw;
}
#overview-text {
  text-align: right;
  color: #682e2e;
}
#line {
  border: 1px solid;
}
#center {
  display: flex;
  text-align: center;
}
#yellow-bg {
  background: linear-gradient(#ffee55, #ffc700);
}
.Donation,
.community {
  text-align: center;
  align-items: center;
  padding: 3em;
  padding-bottom: 7em;
  color: #0f421a;
}
.Donation {
  padding-bottom: 0;
}
.Donation h1,
button,
.community h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 1em 3em;
}
button {
  font-size: clamp(10px, 3vw, 40px);
  padding: 2vw;
  border-radius: 1rem;
  background: linear-gradient(120deg, #4ab24f 0%, #4a9a4d 30%, #1e6321 100%);
  color: #ffee55;
  border: 2px outset #0a110a;
  transition: transform 0.3s ease-in-out;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.Donation h1,
.community h1 {
  font-size: clamp(10px, 4vw, 55px);
}

input {
  margin: 0;
  width: 45%;
  text-align: left;
  padding: 2px;
  padding-left: 2%;
}
#submit {
  margin: 0;
  font-size: 1em;
  padding: 0.3em;
  border-radius: 0;
  color: #f9ffa1;
  border: 1px outset #497e55;
}

.contact {
  background-color: #77a2ba;
}
.community p,
#contact-info,
input {
  font-size: clamp(1em, 1vw, 100px);
}
#contact-info {
  padding: 2em 0em;
}
#contact-info > ul > li,
#contact-info > ul > li > a {
  color: #0347cc;
}
#last {
  display: flex;
  width: 30%;
  margin: 0 auto;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0.1em;
  border-radius: 1em 1em 0 0;
  background-color: #ccffc3;
  color: #565656;
  transition: background 0.1s ease-in-out;
}
#last:hover {
  cursor: pointer;
  color: #fff;
  background-position: right;
  background: linear-gradient(90deg, #497e55, #164721);
}
