* {
  box-sizing: border-box;

  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(255, 255, 255, 0.979);
}
html {
  background: radial-gradient(#3e3c3c, #232020);
}
main {
  margin: 10vw auto;
  width: 70%;
  align-items: center;
  text-align: center;
}
.timer {
  background-color: rgba(217, 217, 217, 0.06);
  border-radius: 4vw;
  padding: 1em 0em 3em 0em;
}
.hide {
  display: none;
}
#lap {
  width: 40vw;
  margin: 2vh auto;
}
th {
  color: #966b6b;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px;
  border-style: dotted;
}
td {
  color: rgba(255, 255, 255, 0.65);
}
#time {
  font-size: 10vw;
}
#hour {
  display: none;
  font-size: 8vw;
}
#microsecond,
#dot {
  font-size: 4vw;
}
#lap-timer {
  display: none;
}
#lap-timer,
#lap-timer span {
  color: rgba(255, 255, 255, 0.65);
  font-size: 2.5vh;
}
.buttons {
  margin: 1vw 0;
}
button {
  width: 7em;
  margin: 5vw;
  padding: 0.7em 0;
  color: #000;
  font-size: 0.9em;
}
#start {
  background-color: #8ee1a0;
  border-color: #5e966a;
}
#lap-button {
  background-color: #e6ff50;
  border-color: #babd25;
}
